<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript lodash Templates Lab</title>
  </head>
  <body>
    <main>
      <form id="post-form" onsubmit="createPost(); return false;">
        <div>
          <p>Title</p>
          <input name="title" id="postTitle" type="text" />
        </div>
        <div>
          <p>Content</p>
          <input name="body" id="postBody" type="textarea" rows="4" cols="50">
          </input>
        </div>
        <div>
          <p>Author</p>
          <input name="author" id="author" type="text" />
        </div>
        <div>
          <input type="submit">
        </div>
      </form>
    </main>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="index.js"></script>

    <script id="page-template" type="text/x-lodash-template">
      <div id="post">
        <%= post %>
      </div>
      <div id="sidebar">
      </div>
    </script>

    <script id="post-template" type="text/x-lodash-template">
      <article>
        <header><h1><%= title %></h1></header>
        <div><%= content %></div>
        <footer><%= author %></footer>
      </article>
    </script>

    <script id="comments-template" type="text/x-lodash-template">
      <form onsubmit="postComment(); return false;">
        <div>Comment: <input name="comment" id="commentText" type="text" /></div>
        <div>Name: <input name="name" id="commenterName" type="text" /></div>
        <div><input type="submit" /></div>
      </form>

      <div id="comments">
      </div>
    </script>

    <script id="comment-template" type="text/x-lodash-template">
      <div class="comment">
        <p><%- comment %></p>
        <footer><%- commenterName %></footer>
      </div>
    </script>
    <!-- Open this file and call `mocha.run()` in console to run tests -->
    <div id="mocha"></div>
    <script src="node_modules/mocha/mocha.js"></script>
    <script src="node_modules/expect/umd/expect.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script>mocha.setup('bdd');</script>
    <script src="test/index-test.js"></script>
  </body>
</html>
